#menu{
    height: 50px;
}

#menu ul{
    text-decoration: none;
    list-style: none;
    line-height: 50px;
}

.item{
    height: 150px;
}

footer{
    height: 50px;
    line-height: 50px;
}

.lateral{
    height: 350px;
}

@media (max-width:768px) {
    #menu{
        height: auto;
    }
}